.DivCantidadPrecioSubtotal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px !important;
    
}

.ButtonTrash {
    border: none;
    background-color: white;
}

.CartImgAndTitle {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.CartImgAndTitle img {
    margin: auto;
    width: 120px;
}