header {
    border-bottom: 0.2px solid #a2a2a2;
}

.container-fluid {
    background-color: white !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin: 0 !important;    
}

.navbar-brand img {
    width: 180px;
    margin: 0;
}

.nav-item {    
    margin-inline: 20px;
}

.ActiveOption {    
    color: black;
    text-decoration: underline;
}