.navbar {
    border-bottom: 0.2px solid #a2a2a2;
}

.container-fluid {
    background-color: white !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin: 0 !important;
}

.navbar-brand img {
    width: 180px;
    margin: 0;
}

.nav-item {
    margin-inline: 20px;
}

.navbar-nav {
    --bs-nav-link-padding-y: 0 !important;
}

.nav-link {
    color: black !important;
}

.ActiveOption {
    color: black;
    text-decoration: underline;
    padding: 0px 8px;
}

.ActiveOption:hover {
    color: black;
}