.ListGroup {
    display: grid;
    margin-bottom: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". . . . ."
        ". . . . .";
}